
.MyDiv
{
    text-align: left;
height:100px;
width:300px;
background: -webkit-linear-gradient(left, rgb(253, 183, 54) ); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(right, #FDF636,  rgb(253, 183, 54) ); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(right, #FDF636,  rgb(253, 183, 54) ); /* Firefox 3.6 - 15 */
background: linear-gradient(to right, #FDF636 ,  rgb(253, 183, 54) ); /* 标准的语法（必须放在最后） */
}
.MyDiv2
{
    text-align: left;
height:100px;
width:300px;
font-family: cursive;
background: -webkit-linear-gradient(left, rgb(253, 183, 54) ); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(right, #FDF636,  rgb(253, 183, 54) ); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(right, #FDF636,  rgb(253, 183, 54) ); /* Firefox 3.6 - 15 */
background: linear-gradient(to right, #FDF636 ,  rgb(253, 183, 54) ); /* 标准的语法（必须放在最后） */

}